








/* label{
    display: inline-block;
    width: 100px;
    text-align: right;
} */




/* #email{
    background-image: url('https://static.vecteezy.com/system/resources/previews/020/009/601/original/email-and-mail-icon-black-free-png.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
} */









